[submodule "src/libraries/qmarkdowntextedit"]
	path = src/libraries/qmarkdowntextedit
	url = https://hub.fastgit.org/pbek/qmarkdowntextedit.git
[submodule "src/libraries/piwiktracker"]
	path = src/libraries/piwiktracker
	url = https://hub.fastgit.org/pbek/qt-piwik-tracker.git
[submodule "src/libraries/qkeysequencewidget"]
	path = src/libraries/qkeysequencewidget
	url = https://hub.fastgit.org/pbek/qkeysequencewidget
[submodule "src/libraries/qttoolbareditor"]
	path = src/libraries/qttoolbareditor
	url = https://hub.fastgit.org/pbek/Qt-Toolbar-Editor.git
[submodule "src/libraries/qtcsv"]
	path = src/libraries/qtcsv
	url = https://hub.fastgit.org/pbek/qtcsv.git
[submodule "src/libraries/md4c"]
	path = src/libraries/md4c
	url = https://hub.fastgit.org/qownnotes/md4c
[submodule "src/libraries/qhotkey"]
	path = src/libraries/qhotkey
	url = https://hub.fastgit.org/qownnotes/QHotkey.git
